<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    p {
        padding: 5px 7px 5px 9px;
    }
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">College Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Assignments<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<body style="background-color: slategray;"></body>

<div class="row">
    <div class="col px-md-5">
        <p>
            <div class="card">
                <div class="card-header">
                    Assignment
                </div>
                <div class="card-body">
                    <h5 class="card-title">(**TITLE of the assignment goes here**)</h5>
                    <p class="card-text">(**Assignment description goes here**)</p>
                    <a href="#" class="btn btn-primary">Submit Work</a>
                </div>
            </div>

        </p>
    </div>