<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    p {
        padding: 5px 7px 5px 9px;
    }
    body {
        padding-top: 60px;
    }
</style>


<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light ">
    <a class="navbar-brand" href="/database/home">College Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            
            <li>
                <a class="nav-link" href="#">Assignments<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="/loginmodule/login">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<body style="background-color:  rgb(134, 163, 192);"></body>




<div class="jumbotron jumbotron-fluid ">
    <div class="container mt-3">
        <h1 class="mx-auto mt-4">{{assignment.name}}</h1>
        <p class= "mt-3"><b>Aim</b> :<i> {{assignment.description}}</i></p>
        <button class="btn" style="border-color:  rgb(134, 163, 192); border-radius: 10px; border-width: 5px;"><i class="fa fa-download"></i> Download PDF</button>
    </div>
</div>


<div class=" container ">
    <form action="/database/assignments/{{assignment.Classes.name}}/{{assignment.id}}/submit">
        <div class="col">
            <div class="row">
                <input type="file" id="myFile" name="filename"class="btn " ><i class="fa fa-download"></i>
                <input type="submit"style="border-color:  rgb(134, 163, 192);border-radius: 10px; border-width: 5px;">
            
            </div>
        </ul>
    </form>
</div>
  
