<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
    p {
        padding: 5px 7px 5px 9px;
    }
</style>]

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light ">
    <a class="navbar-brand" href="/database/home">College Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            
            <li>
                <a class="nav-link" href="#">Assignments<span class="sr-only">(current)</span></a>
            </li>
              
        </ul>
    </div>
</nav>

<body style="background-color:  rgb(134, 163, 192);"></body>

<div class=" row  mx-auto mt-auto">
    {% for assignment in assignments %}
    <div class="col px-md-5">
        <p>
            <div class="card mt-auto">
                <div class="card-header">
                   <h2> Assignment</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{assignment.name}}</h5>
                    <p class="card-text">{{assignment.description}}</p>
                    <a href="{{assignment.Classes.name}}/{{assignment.id}}" class="btn btn-primary">Submit Work</a>
                </div>
            </div>

        </p>
    </div>
    {%endfor%}